<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Acerca de...</title>
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/acercaDe.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="../index.html"><img src="../assets/img/logo-menu.png" alt="Logo Ezequiel" /></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./acercaDe.html">Acerca de</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="fabrica">
      <h1>Nuestras Fábricas</h1>
      <p>
        Hemos cuidadosamente planificado la creación de nuestros productos
        desde su concepción hasta el momento en que son disfrutados, con el
        objetivo de complacer incluso a los gustos más refinados. Valoramos y
        mantenemos nuestra rica tradición culinaria en cada paso del proceso.
      </p>
      <p>
        La calidad de nuestros productos es el resultado de la combinación de
        la experiencia de nuestros maestros artesanos y la tecnología más
        avanzada. Nuestros productos son elaborados con las mejores materias
        primas, seleccionadas cuidadosamente para garantizar la calidad y el
        sabor.
      </p>
      <br><br>
      <h1>Descubre Nuestras Dos Fábricas</h1>
      <p>
        En nuestras instalaciones de Embutidos y Jamones Ezequiel, disponemos
        de una extensa infraestructura que abarca más de 5.000 metros
        cuadrados, respaldada por un equipo altamente capacitado. No solo eso,
        sino que también nos beneficiamos de las condiciones climáticas
        excepcionales.
      </p>
      <p>
        La peculiaridad del clima de la región montañosa de León desempeña un
        papel fundamental en la elaboración de nuestros embutidos,
        contribuyendo así a lograr un sabor y una calidad inigualables.
      </p>
    </div>
    <div class="historia">
      <h3>NUESTRA HISTORIA Y ELABORACION</h3>
      <p>
        Hablar de la Fábrica de Embutidos y Jamones Ezequiel es hablar de más
        de 70 años de experiencia dedicándonos a la elaboración artesanal de
        embutidos.
      </p>
    </div>

    <div class="imagenes">
      <div class="imagen1">
        <h2>1945: Ezequiel comienza la venta de productos cárnicos</h2>
        <img src="../assets/img/paisano-1945.jpg" alt="paisano" />
        <h2>
          Decada de los 70: Su hijo Robert impulsa y expande el negocio a
          nivel nacional, dando popularidad al buen hacer de la empresa
          Ezequiel.
        </h2>
        <img src="../assets/img/1945.png" alt="hijo" />
        <h2>
          La empresa y valores pasan a manos de la tercera generación,
          Ezequiel García.
        </h2>
        <img src="../assets/img/amigos.jpg" alt="amigos" />
        <h2>Ezequiel García sigue al frente de la empresa, buscando siempre la mejor calidad y materia prima. Expansión
          internacional y ampliación del negocio</h2>
        <img src="../assets/img/complejo.jpg" alt="complejo" />
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2023 Ezequiel. Todos los derechos reservados.</p>
  </footer>

  <script src="/js/main.js" type="module"></script>
</body>

</html>