<!DOCTYPE html>
<html lang="es">

<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Contacto</title>
  <link rel="stylesheet" href="../css/styles.css" />
  <link rel="stylesheet" href="../css/contacto.css">
  <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon" />
</head>

<body>
  <div class="container">
    <div class="header">
      <div class="logo">
        <a href="../index.html"><img src="../assets/img/logo-menu.png" alt="Logo Ezequiel" /></a>
      </div>
      <div class="menu">
        <ul>
          <li><a href="../index.html">Inicio</a></li>
          <li><a href="./acercaDe.html">Acerca de</a></li>
          <li><a href="./contacto.html">Contacto</a></li>
        </ul>
      </div>
    </div>

    <div class="content">
      <div class="informacion">
        <div class="main">
          <h1>Datos de información</h1>
          <h3>FÁBRICA DE EMBUTIDOS Y JAMONES EZEQUIEL / OFICINAS CENTRALES</h3>
          <p>Teléfono/Fax: 985 555 555</p>
          <p>Teléfono: + 34 699 69 69 69</p>
          <p>Email: atencionalcliente@embutidosezequiel.es</p>
          <br>
          <h3>RESTAURANTE VILLAMANÍN</h3>
          <p>Dirección: Ctra. Nacional 630, km 99,5, 24680 Villamanín, León</p>
          <p>Teléfono: +34 985 555 555</p>
          <p>Email: reservas@embutidosezequiel.es</p>
          <br><br>
          <h3>Horarios:</h3>
          <p>Lunes a Domingo: 07:00 - 24:00</p>
          <p>Turnos de comida: 14:00 y 15:30 horas</p>
        </div>
      </div>
      <div class="contacto">
        <form action="#" method="post">
          <label for="nombre">Nombre</label>
          <input type="text" id="nombre" name="nombre" />
          <label for="email">Email</label>
          <input type="email" id="email" name="email" />
          <label for="telefono">Telefono</label>
          <input type="number" id="telefono" name="telefono" />
          <label for="consulta">Consulta</label>
          <select name="consulta" id="consulta">
            <option value="atencion">Atención al cliente</option>
            <option value="restaurante">Restaurante</option>
            <option value="administracion">Administración Fábrica</option>
            <option value="otros">Otros</option>
          </select>
          <label for="mensaje">Mensaje</label>
          <textarea name="mensaje" id="mensaje" cols="30" rows="10"
            placeholder="Escriba lo que quiera decirnos"></textarea>
          <input type="submit" value="Enviar" />
        </form>
      </div>
    </div>
  </div>

  <footer>
    <p>&copy; 2023 Ezequiel. Todos los derechos reservados.</p>
  </footer>

  <script src="/js/main.js" type="module"></script>
</body>

</html>