<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Gracias por tu pedido</title>
    <link rel="stylesheet" href="../css/styles.css">
    <link rel="stylesheet" href="../css/gracias.css">
    <link rel="shortcut icon" href="/favicon.ico" type="image/x-icon">
</head>

<body>
    <div class="container">
        <img src="/assets/img/gracias-porky.gif" alt="Gracias!">
        <h1>¡Gracias por tu pedido!</h1>
        <p>Tu pedido ha sido recibido y está siendo procesado. Te enviaremos una confirmación por correo electrónico.
        </p>
        <a href="../index.html">Volver al inicio</a>
    </div>
</body>

</html>